<% @future_date = "" %>
<h1>Today is <%= Time.now.strftime("%A, %B %d, %Y") %></h1>

<% @today = Time.now.strftime("%m/%d/%Y")
  @free_museums = [] 
  @is_free = [] 
  @not_free = [] %>

<% @museums.each do |m|
   @free_days = []
   @free_days = m[:free_days].split(' ')
   @free_days.each do |fd|
     if @today == fd 
       @is_free << m.id.to_s 
     else
     end
   end
end %>

<% @museums.each do |m|
  if @is_free.include?(m.id.to_s) 
     @addr = "#{m.address}, #{m.city}, #{m.state} #{m.zip_code.to_s}" %>

    <div class="museum round span-17 last">
      <h3><%= link_to m.name, m.website, :class => "clearlink" %> is free today.</h3> 
      <div class="span-4 bold">
        Address:
      </div>
      <div class="span-13 last">
          <%= m.address %><br /><%= m.city + ', ' + m.state + ' ' + m.zip_code.to_s %>
      </div>
      <div class="span-4 bold">
          Get Directions:
      </div>
      <div class="span-13 last">
        <form action="http://maps.google.com/maps" method="get" target="_blank">
          Enter your address: 
          <input type="text" name="saddr" class="get_directions_field" />
          <input type="hidden" name="daddr" value="<%= @addr %>" />
          <input type="submit" value="Get Directions" class="button round get_directions" />
        </form>                                             
    </div>     
    <div class="span-4 bold">
      Hours:
    </div>
    <div class="span-13 last">
      <% @hours = m.hours.to_s.split(', ') %> 
        <% @hours.each do |hour| %>
          <%= hour %><br />
        <% end %>      
      </ul>
    </div>                                   
    <div class="span-17 last right">
      <%= mail_to("ian@freemuseumstoday.com", "Report Error", :subject => "I found a problem with #{m.name}", :class => "button round report_error") %>
    </div>
  </div>

  <% else
  @not_free << m.id.to_s
   end
end %>

<% @museums.each do |m|
  if @not_free.include?(m.id.to_s) %>
    <div class="museum round span-17 last">
      <%= link_to m.name, m.website %> is not free today.
    </div>
<% else
  end
end %>

<hr class="space" />   
