<h1>Today is <%= Time.now.strftime("%A, %B %d, %Y") %></h1>
<p>
The following museums are free today:
<%= render 'find' %>
</p>

<% @museums.each do |museum| %>
  <div class="museum round span-17 last">
    <div class="span-13"><strong><%= link_to museum.name, museum.website %></strong></div>
    <div class="span-4 buttons_right last">
      <%= link_to "View Record", museum, :class => "add_museum_button_sm round" %>
    </div>
    <hr class="space" />
    <div class="span-17 last">
      <address>
        <%= museum.address %>
        <%= museum.city %>, <%= museum.state %> <%= museum.zip_code %>
      </address>
    </div>
  </div>
<% end %>

<hr class="space" />   
