<h2><%= Time.now.strftime("%A, %B %d, %Y") %></h2>
<p>
<%= render 'find' %>
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
  </tr>

<% @museums.each do |museum| %>
  <% @free_museums.each do |free_museum| %>
    <% if museum.id.to_s == free_museum %>
    <tr>
        <td><a href="<%= museum.website %>" alt="<%= museum.name %>"><%= museum.name %></a></td>
        <td>
          <address>
            <%= museum.address %><br />
            <%= "#{museum.city}, #{museum.state} #{museum.zip_code}" %>
          </address>
        </td>
    </tr>
    <% else %>
    <% end %>
  <% end %>
<% end %>
</table>  
