<% @time = Time.now %>
<% @today = @time.strftime("%m/%d/%Y") %>
<% @tomorrow = @time + 1.days %>
<% @tomorrow = @tomorrow.strftime("%m/%d/%Y") %>
<% @yesterday = @time - 1.days %>
<% @yesterday = @yesterday.strftime("%m/%d/%Y") %>
<%= form_for(@museum) do |f| %>
  <% if @museum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@museum.errors.count, "error") %> prohibited this museum from being saved:</h2>

      <ul>
      <% @museum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="span-4"><%= f.label :name %></div>
    <div class="span-13 last"><%= f.text_field :name %></div>
  </div>
  <hr class="space" />
  <div class="field">
    <div class="span-4"><%= f.label :address %></div>
    <div class="span-13 last"><%= f.text_field :address %></div>
  </div>
  <hr class="space" />
  <div class="field">
    <div class="span-4"><%= f.label :city %></div>
    <div class="span-13 last"><%= f.text_field :city %></div>
  </div>
  <hr class="space" />
  <div class="field">
    <div class="span-4"><%= f.label :state %></div>
    <div class="span-13 last"><%= f.text_field :state %></div>
  </div>
  <hr class="space" />
  <div class="field">
    <div class="span-4"><%= f.label :zip_code %></div>
    <div class="span-13 last"><%= f.text_field :zip_code %></div>
  </div>   
  <hr class="space" />
  <div class="field">
    <div class="span-4"><%= f.label :website %></div>
    <div class="span-13 last"><%= f.text_field :website %></div>
  </div> 
  <hr class="space" />
  <div class="field">
    <div class="span-4"><%= f.label :hours %></div>
    <div class="span-13 last"><%= f.text_field :hours %></div>
  </div>
  <hr class="space" />
  <div class="field">
    <div class="span-4"><%= f.label :free_days %><br />
      <span class="quiet small"><%= f.label "Please format Free days as MM/DD/YYYY (#{@today}) and separate dates with spaces as follows: #{@yesterday} #{@today} #{@tomorrow}" %>
    </div></span>
    <div class="span-13 last"><%= f.text_area :free_days %></div>
  </div>
  <hr class="space" />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
