<h1>Listing museums</h1>

<br />
<br />

<%= link_to 'New Museum', new_museum_path, :class => "add_museum_button round" %>

<br />

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip code</th>
    <th>Website</th>
    <th>Free days</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @museums.each do |museum| %>
  <tr>
    <td><%= museum.name %></td>
    <td><%= museum.address %></td>
    <td><%= museum.city %></td>
    <td><%= museum.state %></td>
    <td><%= museum.zip_code %></td>
    <td><%= museum.website %></td>
    <td><%= museum.free_days %></td>
    <td><%= link_to image_tag("table_go.png"), museum %></td>
    <td><%= link_to image_tag("table_edit.png"), edit_museum_path(museum) %></td>
    <td><%= link_to image_tag("table_delete.png"), museum, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Museum', new_museum_path, :class => "add_museum_button round" %>
