<p>
  <%= link_to 'New Museum', new_museum_path, :class => "add_museum_button round" %>
</p>

<% @museums.each do |museum| %>
  <div class="museum round span-17 last">
    <div class="span-11"><h3><%= museum.name %></h3></div>
    <div class="span-6 buttons_right last">
      <%= link_to "View", museum, :class => "add_museum_button_sm round" %>
      <%= link_to "Edit", edit_museum_path(museum), :class => "add_museum_button_sm round" %>                         
      <%= link_to "Delete", museum, :class => "add_museum_button_sm round", :confirm => 'Are you sure?', :method => :delete %>
    </div>
    <div class="span-3 bold clear"> Website: </div>
    <div class="span-14 last"> <%= link_to museum.website, museum.website %> </div> 
    <div class="span-3 bold"> Address: </div> 
    <div class="span-14 last"> <%= museum.address %> </div>
    <div class="span-3 bold"> City: </div>
    <div class="span-14 last"> <%= museum.city %> </div>
    <div class="span-3 bold"> State: </div>
    <div class="span-14 last"> <%= museum.state %> </div> 
    <div class="span-3 bold"> Zipcode: </div>
    <div class="span-14 last"> <%= museum.zip_code %> </div>
    <div class="span-3 bold"> Hours: </div>
    <div class="span-14 last"> 
      <% @hours = museum.hours.to_s.split(', ') %> 
      <% @hours.each do |hour| %>
        <%= hour %><br />
      <% end %>
    </div>
    <div class="span-3 bold"> Free Days: </div>
    <div class="span-14 last"> <%= museum.free_days %> </div>
  </div>
<% end %>

<hr class="space" />

<p>
  <%= link_to 'New Museum', new_museum_path, :class => "add_museum_button round" %>
</p>
