<p id="notice"><%= notice %></p>

  <div class="museum round span-17 last">
    <div class="span-11"><strong><%= @museum.name %></strong></div>
    <div class="span-6 buttons_right last">
      <%= link_to "View", @museum, :class => "add_museum_button_sm round" %>
      <%= link_to "Edit", edit_museum_path(@museum), :class => "add_museum_button_sm round" %>                         
      <%= link_to "Delete", @museum, :class => "add_museum_button_sm round", :confirm => 'Are you sure?', :method => :delete %>
    </div>
    <hr class="space" />
    <div class="span-3"> Website: </div>
    <div class="span-14 last"> <%= link_to @museum.website, @museum.website %> </div> 
    <div class="span-3"> Address: </div> 
    <div class="span-14 last"> <%= @museum.address %> </div>
    <div class="span-3"> City: </div>
    <div class="span-14 last"> <%= @museum.city %> </div>
    <div class="span-3"> State: </div>
    <div class="span-14 last"> <%= @museum.state %> </div> 
    <div class="span-3"> Zipcode: </div>
    <div class="span-14 last"> <%= @museum.zip_code %> </div>
    <div class="span-3"> Free Days: </div>
    <div class="span-14 last"> <%= @museum.free_days %> </div>
  </div> 

<%= link_to 'Back', museums_path %>
