<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= render 'layouts/css' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <%= render 'layouts/analytics' %>
</head>
<body>
  <div class="container">
    <div class="span-12">
      <header class="round">
        <h1><%= link_to "Free Museums Today", root_path, :class => "clearlink header" %></h1>
      </header>
    </div>
    <div class="span-5 last right">
      <nav class="round">
        <ul>
          <li><%= link_to "Share on Twitter", "http://twitter.com/home?status=Find free museums in Chicago on http://freemuseumstoday.com!", :title => "Click to share on Twitter", :class => "round", :target => "_blank" %></li>
          <li><%= link_to "Share on Facebook", "http://www.facebook.com/sharer.php?u=http://freemuseumstoday.com&t=Free Museums Today", :title => "Click to share on Facebook", :class => "round", :target => "_blank" %></li>
          <li><%= link_to "Contact", contact_path, :class => "round" %></li>
        </ul>
      </nav>
    </div>
    <section class="clear round">
      <%= yield %>
    </section>
    <footer>
      <nav class="round">
        &copy; 2011 Ian
      </nav>
    </footer>
  </div>
</body>
</html>
