<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= render 'layouts/css' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <%= render "analytics" %>
</head>
<body>
  <div class="container">
    <header class="round">
      <h1>Free Museums Today</h1>
    </header>
    <nav class="round">
      <ul>
        <li><%= link_to "Main Page", root_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav>
    <section class="round">
      <%= yield %>
    </section>
    <footer>
      <nav class="round">
        &copy; 2011 Ian
      </nav>
    </footer>
  </div>
</body>
</html>
